extends ../layout/auth-layout
block content
  #page-wrapper
    .container-fluid
      .row.bg-title
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          h4.page-title Products
        .row
          .col-sm-12
            .white-box
              p.text-muted 
                  // Modal content
                  .popup-content
                    h3 Update Product
                    form(method='post' action='../product/store' enctype="multipart/form-data")
                      .col-md-12
                        label
                          | Name 
                          span.required *
                        input(type='text' name='name' required)
                      .col-md-6
                        label
                          | Category
                          span.required *
                        select.box(name="category")
                          each category in categories
                            option(value=`${category.name}`) #{category.name}
                      .col-md-6
                        label
                          | Gender
                          span.required *
                        select.box(name='gender')
                          option(value='Male') Male
                          option(value='Female') Female
                          option(value='All') All
                      .listDetails
                        .col-md-4
                          label
                            | Color
                            span.required *
                          input(type='text' name='color' required)
                        .col-md-4
                          label
                            | Size
                            span.required *
                          input(type='text' name='size' required)
                        .col-md-4
                          label
                            | Quantity
                            span.required *
                          input(type='number' name='quantity' min='0' required)
                      .col-md-4
                        input.btn.btn-danger.addDetails(style='margin-bottom:5px' type='button' value='Add Details' onclick='openPopupAdd();')
                      .col-md-12
                        label
                          | Price
                          span.required *
                        input(type='number' name='price' min='0' required)
                      .col-md-12
                        label
                          | Description 
                          span.required *
                        input(type='text' name='description' required)
                      .col-md-12
                        label
                          | Image
                          span.required *
                        input(type="file" name="image" multiple required)
                      .col-md-12
                        input.btn.btn-success(type='submit' value='Submit')
                    .clearfix
                  .clearfix
