doctype html
head
  title Blog Detail
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.png')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/themify/themify-icons.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/elegant-font/html-css/style.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/slick/slick.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
// Header
header.header1
  // Header desktop
  .container-menu-header
    .topbar
      .topbar-social
        a.topbar-social-item.fa.fa-facebook(href='#')
        a.topbar-social-item.fa.fa-instagram(href='#')
        a.topbar-social-item.fa.fa-pinterest-p(href='#')
        a.topbar-social-item.fa.fa-snapchat-ghost(href='#')
        a.topbar-social-item.fa.fa-youtube-play(href='#')
      span.topbar-child1
        | Free shipping for standard order over $100
      .topbar-child2
        span.topbar-email
          | fashe@example.com
        .topbar-language.rs1-select2
          select.selection-1(name='time')
            option USD
            option EUR
    .wrap_header
      // Logo
      a.logo(href='index.html')
        img(src='images/icons/logo.png' alt='IMG-LOGO')
      // Menu
      .wrap_menu
        nav.menu
          ul.main_menu
            li
              a(href='index.html') Home
              ul.sub_menu
                li
                  a(href='index.html') Homepage V1
                li
                  a(href='home-02.html') Homepage V2
                li
                  a(href='home-03.html') Homepage V3
            li
              a(href='product.html') Shop
            li.sale-noti
              a(href='product.html') Sale
            li
              a(href='cart.html') Features
            li
              a(href='blog.html') Blog
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
      // Header Icon
      .header-icons
        a.header-wrapicon1.dis-block(href='#')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide1
        .header-wrapicon2
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          span.header-icons-noti 0
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-01.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | White Shirt With Pleat Detail Back
                  span.header-cart-item-info
                    | 1 x $19.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-02.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Converse All Star Hi Black Canvas
                  span.header-cart-item-info
                    | 1 x $39.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-03.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Nixon Porter Leather Watch In Tan
                  span.header-cart-item-info
                    | 1 x $17.00
            .header-cart-total
              | Total: $75.00
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='cart.html')
                  | View Cart
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                  | Check Out
  // Header Mobile
  .wrap_header_mobile
    // Logo moblie
    a.logo-mobile(href='index.html')
      img(src='images/icons/logo.png' alt='IMG-LOGO')
    // Button show menu
    .btn-show-menu
      // Header Icon mobile
      .header-icons-mobile
        a.header-wrapicon1.dis-block(href='#')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide2
        .header-wrapicon2
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          span.header-icons-noti 0
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-01.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | White Shirt With Pleat Detail Back
                  span.header-cart-item-info
                    | 1 x $19.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-02.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Converse All Star Hi Black Canvas
                  span.header-cart-item-info
                    | 1 x $39.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-03.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Nixon Porter Leather Watch In Tan
                  span.header-cart-item-info
                    | 1 x $17.00
            .header-cart-total
              | Total: $75.00
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='cart.html')
                  | View Cart
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                  | Check Out
      .btn-show-menu-mobile.hamburger.hamburger--squeeze
        span.hamburger-box
          span.hamburger-inner
  // Menu Mobile
  .wrap-side-menu
    nav.side-menu
      ul.main-menu
        li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
          span.topbar-child1
            | Free shipping for standard order over $100
        li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
          .topbar-child2-mobile
            span.topbar-email
              | fashe@example.com
            .topbar-language.rs1-select2
              select.selection-1(name='time')
                option USD
                option EUR
        li.item-topbar-mobile.p-l-10
          .topbar-social-mobile
            a.topbar-social-item.fa.fa-facebook(href='#')
            a.topbar-social-item.fa.fa-instagram(href='#')
            a.topbar-social-item.fa.fa-pinterest-p(href='#')
            a.topbar-social-item.fa.fa-snapchat-ghost(href='#')
            a.topbar-social-item.fa.fa-youtube-play(href='#')
        li.item-menu-mobile
          a(href='index.html') Home
          ul.sub-menu
            li
              a(href='index.html') Homepage V1
            li
              a(href='home-02.html') Homepage V2
            li
              a(href='home-03.html') Homepage V3
          i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
        li.item-menu-mobile
          a(href='product.html') Shop
        li.item-menu-mobile
          a(href='product.html') Sale
        li.item-menu-mobile
          a(href='cart.html') Features
        li.item-menu-mobile
          a(href='blog.html') Blog
        li.item-menu-mobile
          a(href='about.html') About
        li.item-menu-mobile
          a(href='contact.html') Contact
// breadcrumb
.bread-crumb.bgwhite.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
  a.s-text16(href='index.html')
    | Home
    i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden='true')
  a.s-text16(href='blog.html')
    | Blog
    i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden='true')
  span.s-text17
    | Black Friday Guide: Best Sales &amp; Discount Codes
// content page
section.bgwhite.p-t-60.p-b-25
  .container
    .row
      .col-md-8.col-lg-9.p-b-80
        .p-r-50.p-r-0-lg
          .p-b-40
            .blog-detail-img.wrap-pic-w
              img(src='images/blog-04.jpg' alt='IMG-BLOG')
            .blog-detail-txt.p-t-33
              h4.p-b-11.m-text24
                | Black Friday Guide: Best Sales &amp; Discount Codes
              .s-text8.flex-w.flex-m.p-b-21
                span
                  | By Admin
                  span.m-l-3.m-r-6 |
                span
                  | 28 Dec, 2018
                  span.m-l-3.m-r-6 |
                span
                  | Cooking, Food
                  span.m-l-3.m-r-6 |
                span
                  | 8 Comments
              p.p-b-25
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed turpis sed lorem dignissim vulputate nec cursus ante. Nunc sit amet tempor magna. Donec eros sem, porta eget leo et, varius eleifend mauris. Donec eu leo congue, faucibus quam eu, viverra mauris. Nulla consectetur lorem mi, at scelerisque metus hendrerit vitae. Proin vel magna vel neque porta ultricies non eget mauris. Suspendisse potenti.
              p.p-b-25
                | Aliquam faucibus scelerisque placerat. Vestibulum vel libero eu nulla varius pretium eget eu magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean dictum faucibus felis, ac vestibulum risus mollis in. Phasellus neque dolor, euismod vitae auctor eget, dignissim a felis. Etiam malesuada elit a nibh aliquam, placerat ultricies nibh dictum. Nam ut egestas velit. Pellentesque viverra tincidunt tellus. Etiam cursus, ligula id vehicula cursus, turpis mauris facilisis massa, eget tincidunt est purus et odio. Nam quis luctus libero, non posuere velit. Ut eu varius diam, eu euismod elit. Donec efficitur, neque eu consectetur consectetur, dui sem consectetur felis, vitae rutrum risus urna vel arcu. Aliquam semper ullamcorper laoreet. Sed arcu lectus, fermentum imperdiet purus eu, ornare ornare libero.
            .flex-m.flex-w.p-t-20
              span.s-text20.p-r-20
                | Tags
              .wrap-tags.flex-w
                a.tag-item(href='#')
                  | Streetstyle
                a.tag-item(href='#')
                  | Crafts
          // Leave a comment
          form.leave-comment
            h4.m-text25.p-b-14
              | Leave a Comment
            p.s-text8.p-b-40
              | Your email address will not be published. Required fields are marked *
            textarea.dis-block.s-text7.size18.bo12.p-l-18.p-r-18.p-t-13.m-b-20(name='comment' placeholder='Comment...')
            .bo12.of-hidden.size19.m-b-20
              input.sizefull.s-text7.p-l-18.p-r-18(type='text' name='name' placeholder='Name *')
            .bo12.of-hidden.size19.m-b-20
              input.sizefull.s-text7.p-l-18.p-r-18(type='text' name='email' placeholder='Email *')
            .bo12.of-hidden.size19.m-b-30
              input.sizefull.s-text7.p-l-18.p-r-18(type='text' name='website' placeholder='Website')
            .w-size24
              // Button
              button.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4
                | Post Comment
      .col-md-4.col-lg-3.p-b-80
        .rightbar
          // Search
          .pos-relative.bo11.of-hidden
            input.s-text7.size16.p-l-23.p-r-50(type='text' name='search-product' placeholder='Search')
            button.flex-c-m.size5.ab-r-m.color1.color0-hov.trans-0-4
              i.fs-13.fa.fa-search(aria-hidden='true')
          // Categories
          h4.m-text23.p-t-56.p-b-34
            | Categories
          ul
            li.p-t-6.p-b-8.bo6
              a.s-text13.p-t-5.p-b-5(href='#')
                | Fashion
            li.p-t-6.p-b-8.bo7
              a.s-text13.p-t-5.p-b-5(href='#')
                | Beauty
            li.p-t-6.p-b-8.bo7
              a.s-text13.p-t-5.p-b-5(href='#')
                | Street Style
            li.p-t-6.p-b-8.bo7
              a.s-text13.p-t-5.p-b-5(href='#')
                | Life Style
            li.p-t-6.p-b-8.bo7
              a.s-text13.p-t-5.p-b-5(href='#')
                | DIY &amp; Crafts
          // Featured Products
          h4.m-text23.p-t-65.p-b-34
            | Featured Products
          ul.bgwhite
            li.flex-w.p-b-20
              a.dis-block.wrap-pic-w.w-size22.m-r-20.trans-0-4.hov4(href='product-detail.html')
                img(src='images/item-16.jpg' alt='IMG-PRODUCT')
              .w-size23.p-t-5
                a.s-text20(href='product-detail.html')
                  | White Shirt With Pleat Detail Back
                span.dis-block.s-text17.p-t-6
                  | $19.00
            li.flex-w.p-b-20
              a.dis-block.wrap-pic-w.w-size22.m-r-20.trans-0-4.hov4(href='product-detail.html')
                img(src='images/item-17.jpg' alt='IMG-PRODUCT')
              .w-size23.p-t-5
                a.s-text20(href='product-detail.html')
                  | Converse All Star Hi Black Canvas
                span.dis-block.s-text17.p-t-6
                  | $39.00
            li.flex-w.p-b-20
              a.dis-block.wrap-pic-w.w-size22.m-r-20.trans-0-4.hov4(href='product-detail.html')
                img(src='images/item-08.jpg' alt='IMG-PRODUCT')
              .w-size23.p-t-5
                a.s-text20(href='product-detail.html')
                  | Nixon Porter Leather Watch In Tan
                span.dis-block.s-text17.p-t-6
                  | $17.00
            li.flex-w.p-b-20
              a.dis-block.wrap-pic-w.w-size22.m-r-20.trans-0-4.hov4(href='product-detail.html')
                img(src='images/item-03.jpg' alt='IMG-PRODUCT')
              .w-size23.p-t-5
                a.s-text20(href='product-detail.html')
                  | Denim jacket blue
                span.dis-block.s-text17.p-t-6
                  | $39.00
            li.flex-w.p-b-20
              a.dis-block.wrap-pic-w.w-size22.m-r-20.trans-0-4.hov4(href='product-detail.html')
                img(src='images/item-05.jpg' alt='IMG-PRODUCT')
              .w-size23.p-t-5
                a.s-text20(href='product-detail.html')
                  | Nixon Porter Leather Watch In Tan
                span.dis-block.s-text17.p-t-6
                  | $17.00
          // Archive
          h4.m-text23.p-t-50.p-b-16
            | Archive
          ul
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | July 2018
              span.s-text13
                | (9)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | June 2018
              span.s-text13
                | (39)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | May 2018
              span.s-text13
                | (29)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | April  2018
              span.s-text13
                | (35)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | March 2018
              span.s-text13
                | (22)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | February 2018
              span.s-text13
                | (32)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | January 2018
              span.s-text13
                | (21)
            li.flex-sb-m
              a.s-text13.p-t-5.p-b-5(href='#')
                | December 2017
              span.s-text13
                | (26)
          // Tags
          h4.m-text23.p-t-50.p-b-25
            | Tags
          .wrap-tags.flex-w
            a.tag-item(href='#')
              | Fashion
            a.tag-item(href='#')
              | Lifestyle
            a.tag-item(href='#')
              | Denim
            a.tag-item(href='#')
              | Streetstyle
            a.tag-item(href='#')
              | Crafts
// Footer
footer.bg6.p-t-45.p-b-43.p-l-45.p-r-45
  .flex-w.p-b-90
    .w-size6.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | GET IN TOUCH
      div
        p.s-text7.w-size27
          | Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
        .flex-m.p-t-30
          a.fs-18.color1.p-r-20.fa.fa-facebook(href='#')
          a.fs-18.color1.p-r-20.fa.fa-instagram(href='#')
          a.fs-18.color1.p-r-20.fa.fa-pinterest-p(href='#')
          a.fs-18.color1.p-r-20.fa.fa-snapchat-ghost(href='#')
          a.fs-18.color1.p-r-20.fa.fa-youtube-play(href='#')
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Categories
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Men
        li.p-b-9
          a.s-text7(href='#')
            | Women
        li.p-b-9
          a.s-text7(href='#')
            | Dresses
        li.p-b-9
          a.s-text7(href='#')
            | Sunglasses
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Links
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Search
        li.p-b-9
          a.s-text7(href='#')
            | About Us
        li.p-b-9
          a.s-text7(href='#')
            | Contact Us
        li.p-b-9
          a.s-text7(href='#')
            | Returns
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Help
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Track Order
        li.p-b-9
          a.s-text7(href='#')
            | Returns
        li.p-b-9
          a.s-text7(href='#')
            | Shipping
        li.p-b-9
          a.s-text7(href='#')
            | FAQs
    .w-size8.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | Newsletter
      form
        .effect1.w-size9
          input.s-text7.bg6.w-full.p-b-5(type='text' name='email' placeholder='email@example.com')
          span.effect1-line
        .w-size2.p-t-20
          // Button
          button.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4
            | Subscribe
  .t-center.p-l-15.p-r-15
    a(href='#')
      img.h-size2(src='images/icons/paypal.png' alt='IMG-PAYPAL')
    a(href='#')
      img.h-size2(src='images/icons/visa.png' alt='IMG-VISA')
    a(href='#')
      img.h-size2(src='images/icons/mastercard.png' alt='IMG-MASTERCARD')
    a(href='#')
      img.h-size2(src='images/icons/express.png' alt='IMG-EXPRESS')
    a(href='#')
      img.h-size2(src='images/icons/discover.png' alt='IMG-DISCOVER')
    .t-center.s-text8.p-t-20
      | Copyright &copy; 2018 All rights reserved. | This template is made with 
      i.fa.fa-heart-o(aria-hidden='true')
      |  by 
      a(href='https://colorlib.com' target='_blank') Colorlib
// Back to top
#myBtn.btn-back-to-top.bg0-hov
  span.symbol-btn-back-to-top
    i.fa.fa-angle-double-up(aria-hidden='true')
// Container Selection
#dropDownSelect1
#dropDownSelect2
// ===============================================================================================
script(type='text/javascript' src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/bootstrap/js/popper.js')
script(type='text/javascript' src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/select2/select2.min.js')
script(type='text/javascript').
  $(".selection-1").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect1')
  });
  $(".selection-2").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect2')
  });
// ===============================================================================================
script(src='js/main.js')
